altgraph==0.17
cycler==0.10.0
et-xmlfile==1.0.1
future==0.18.2
jdcal==1.4.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.2
openpyxl==3.0.3
pandas==1.0.3
pefile==2019.4.18
Pillow==7.1.2
PyInstaller==4.0.dev0+c6a74f060e
pyparsing==2.4.6
pyserial==3.4
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
six==1.14.0
